<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-3">Guru+</h1>
            <p class="lead">Donate to unlock cool features and keep Guru running!</p>
        </div>
        <div class="col-sm-6">
            <img class="float float-right plus" src="assets/img/Guru-plus-avatar-transparent.svg" alt="">
        </div>
    </div>
    <section id="benefits" class="py-5">
        <plus-cards></plus-cards>
    </section>

    <section id="faq mb-5">
        <h2 class="text-center py-2">Questions</h2>
        <zippy title="What is my money used for?">
            Your money is used to help me develop Guru.
        </zippy>
    </section>
</div>